{{ define "main" }}
<!-- CODE HIGHLIGHTING-->
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!--END CODE HIGHLIGHTING-->
<!--FIND NBR OF COMMENTS-->
{{- $mycomments := .Site.Data.comments }}
{{- $.Scratch.Add "hasComments" 0 }}
{{- range $mycomments }}
    {{- if in .path $.File.Path }}
        {{- $.Scratch.Add "hasComments" 1 }}
    {{- end }}
{{- end }}
<!--FIND NBR OF COMMENTS END -->
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
            {{- $avatar := findRE "_avatar" .Params.thumbnail }}
            {{- if ge (len $avatar) 1 }}
                   <figure class="post__thumbnail">
                           <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                {{- if .Params.thumbnailsrc}}
                    <figcaption>
                        <span>{{.Params.thumbnailsrc}}</span>
                    </figcaption>
                 {{- end }}
                   </figure>
            {{- end }}
		{{- end }}
		{{- partial "post_toc.html" . -}}
        {{- if .Params.pollID }}
            {{- partial "widgets/poll.html" . }}
        {{- end }}

		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
<div style = "text-align:right">
<!--CUSTOM AUTHOR ENTRY
{{- if isset .Params "author" }}
    <p>Author: {{.Params.author}}</p>
{{- end }}
-->
<!--CUSTOM AUTHOR ENTRY END-->
{{- partial "post_download_Rmd.html" . }}
</div>
<br>
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}
