{{ define "main" }}
<main class="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{- if .Params.thumbnail }}
            {{ $avatar := findRE "_avatar" .Params.thumbnail }}
            {{ if ge (len $avatar) 1 }}
		    <figure class="post__thumbnail">
			    <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                {{ if .Params.thumbnailsrc}}
                    <figcaption>
                        <span>{{.Params.thumbnailsrc}}</span>
                    </figcaption>
                 {{ end }}
		    </figure>
            {{ end}}
		{{- end }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		{{ partial "post_tags.html" . }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ if isset .Params "author" }}
    {{print "Author: " .Params.author}}
{{ end }}
{{ partial "post_nav.html" . }}
{{ partial "comments.html" . }}
{{ end }}
