<!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->

<script type="text/javascript" src="https://zc1.maillist-manage.eu/js/optin.min.js" onload="setupSF('sf70d03e7086d236fbf557966bf1e680c87e194c9c6b4ca86e','ZCFORMVIEW',false,'light',false,'0')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sf70d03e7086d236fbf557966bf1e680c87e194c9c6b4ca86e(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
	};
</script>

<style>
#customForm.quick_form_6_css * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow-wrap: break-word
}
@media only screen and (max-width: 200px) {.quick_form_6_css[name="SIGNUP_BODY"] { width: 100% !important; min-width: 100% !important; margin: 0px auto !important; padding: 0px !important } }
@media screen and (min-width: 320px) and (max-width: 580px) and (orientation: portrait) {.quick_form_6_css[name="SIGNUP_BODY"] { max-width: 300px !important; margin: 0px auto !important; padding: 0px !important } }
@media only screen and (max-device-width: 1024px) {.quick_form_6_css[name="SIGNUP_BODY"] { max-width: 500px !important; margin: 0px auto !important } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {.quick_form_6_css[name="SIGNUP_BODY"] { max-width: 700px !important; margin: 0px auto !important } }
@media screen and (min-width: 475px) and (max-width: 980px) and (orientation: landscape) {.quick_form_6_css[name="SIGNUP_BODY"] { max-width: 400px !important; margin: 0px auto !important; padding: 0px !important } }
</style>

<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here--><!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sf70d03e7086d236fbf557966bf1e680c87e194c9c6b4ca86e" data-type="signupform" style="opacity: 1;">
	<div id="customForm">
		<div class="quick_form_6_css" style="background-color: rgb(255, 255, 255); width: 500px; z-index: 2; font-family: &quot;Arial&quot;; border: 1px solid rgb(206, 206, 206); overflow: hidden" name="SIGNUP_BODY">
			<div>
				<div style="font-size: 14px; font-family: &quot;Arial&quot;; font-weight: bold; color: rgb(85, 85, 85); text-align: left; margin: 15px 15px 5px; width: 100%; display: block" id="SIGNUP_HEADING">Join Our Newsletter</div>
				<div style="position:relative;">
					<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td width="10%">
										<img class="successicon" src="https://zc1.maillist-manage.eu/images/challangeiconenable.jpg" align="absmiddle">
									</td>
									<td>
										<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<form method="POST" id="zcampaignOptinForm" style="margin: 0px; width: 100%; text-align: center" action="https://maillist-manage.eu/weboptin.zc" target="_zcSignup">
					<div style="background-color: rgb(255, 235, 232); padding: 10px; color: rgb(210, 0, 0); font-size: 11px; margin: 20px 10px 0px; border: 1px solid rgb(255, 217, 211); opacity: 1; display: none" id="errorMsgDiv">Please correct the marked field(s) below.</div>
					<div style="position: relative; width: 170px; height: 28px; display: inline-block">
						<div id="Zc_SignupSuccess" style="position: absolute; width: 87%; background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154); margin-bottom: 10px; word-break: break-all; opacity: 1; display: none">
							<div style="width: 20px; padding: 5px; display: table-cell">
								<img class="successicon" src="https://campaigns.zoho.com/images/challangeiconenable.jpg" style="width: 20px">
							</div>
							<div style="display: table-cell">
								<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px; line-height: 30px; display: block"></span>
							</div>
						</div>
						<div style="padding: 5px 0px; color: rgb(85, 85, 85); font-size: 12px; font-family: Arial; display: block; text-align: left">Email</div>
						<input type="text" style="font-size: 12px; border-width: 1px; border-color: rgb(214, 205, 205); border-style: solid; width: 100%; height: 100%; z-index: 4; outline: none; padding: 5px 10px; color: rgb(113, 106, 106); text-align: left; font-family: &quot;Arial&quot;; border-radius: 4px; background-color: rgb(246, 246, 246); box-sizing: border-box" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
					</div>
					<div style="position: relative; margin: 5px 0 40px 10px; width: 170px; height: 28px; display: inline-block">
						<div style="padding: 5px 0px; color: rgb(85, 85, 85); font-size: 12px; font-family: Arial; display: block; text-align: left">Name</div>
						<input type="text" style="font-size: 12px; border-width: 1px; border-color: rgb(214, 205, 205); border-style: solid; width: 100%; height: 100%; z-index: 4; outline: none; padding: 5px 10px; color: rgb(113, 106, 106); text-align: left; font-family: &quot;Arial&quot;; border-radius: 4px; background-color: rgb(246, 246, 246); box-sizing: border-box" changeitem="SIGNUP_FORM_FIELD" name="LASTNAME" id="EMBED_FORM_NAME_LABEL">
					</div>
					<div style="position: relative; width: 100px; height: 28px; margin: 0 0 15px 12px; display: inline-block">
						<input type="button" style="text-align: center; width: 100%; height: 100%; z-index: 5; border: 0px none; color: rgb(255, 255, 255); cursor: pointer; outline: currentcolor none medium; font-size: 14px; background-color: rgb(226, 45, 48); border-radius: 4px" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Join Now">
					</div>
					<input type="hidden" id="fieldBorder" value="">
					<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
					<input type="hidden" id="emailReportId" name="emailReportId" value="">
					<input type="hidden" id="formType" name="formType" value="QuickForm">
					<input type="hidden" name="zx" id="cmpZuid" value="14ac624c65">
					<input type="hidden" name="zcvers" value="2.0">
					<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
					<input type="hidden" id="mode" name="mode" value="OptinCreateView">
					<input type="hidden" id="zcld" name="zcld" value="1c7f7d19bd436d5">
					<input type="hidden" id="document_domain" value="">
					<input type="hidden" id="zc_Url" value="zc1.maillist-manage.eu">
					<input type="hidden" id="new_optin_response_in" value="0">
					<input type="hidden" id="duplicate_optin_response_in" value="0">
					<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
					<input type="hidden" id="zc_formIx" name="zc_formIx" value="70d03e7086d236fbf557966bf1e680c87e194c9c6b4ca86e">
					<input type="hidden" id="viewFrom" value="URL_ACTION">
					<span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
					<span style="display: none" id="dt_FIRSTNAME">1,false,1,First Name,2</span>
					<span style="display: none" id="dt_LASTNAME">1,false,1,Last Name,2</span>
				</form>
			</div>
		</div>
	</div>
	<img src="https://zc1.maillist-manage.eu/images/spacer.gif" id="refImage" onload="referenceSetter(this)" style="display:none;">
</div>
<input type="hidden" id="signupFormType" value="QuickForm_Horizontal">
<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img src="https://zc1.maillist-manage.eu/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->
<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span>
             <span class="right">
                <a href="/impressum">Impressum</a> | 
                <a href="/datenschutz">Datenschutzerklärung</a>
                </span>
		</div>
	</div>
</footer>
