{{ $mypolls := .Site.Data.polls }}
{{ $.Scratch.Add "optionCounter" 0 }} 
{{ $.Scratch.Add "totalCounter" 0 }} 
{{ $.Scratch.Set "optionMap" (dict ) }}
  {{ range $index, $element := $mypolls }}
  <!--{{ printf "%#v" $.File.Path }}-->
    {{ if in $element.path $.File.Path }} <!-- TODO: don't require path but pollID instead! -->
        {{ $.Scratch.Add "IPs" (print $element.ipAddress ",")}}
        {{ $.Scratch.Add "optionCounter" 1 }}
        {{ $curCount := default 0 (index ($.Scratch.Get "optionMap") ($element.option)) }}
        {{ $.Scratch.SetInMap "optionMap" ($element.option) (add ($curCount) 1) }}
    {{ end }}
  {{ end }}
<div id="poll-container">
    <h3>Poll</h3>
    <form id='poll' action="{{ .Site.Params.staticman_polls_api }}" method="post" accept-charset="utf-8">
        <input type="hidden" name="knownIPs" value="{{ $.Scratch.Get "IPs" }}">
        <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#poll-submitted">
        <input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#poll-error">
        <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
        <input name="fields[path]" type="hidden" value="{{ .File.Path }}">
        <input name="fields[pollID]" type="hidden" value="best_javascript_framework">
        <input name="fields[option]" type="hidden" value="">
        <input name="fields[ipAddress]" type="hidden" value="">

        <p>Pick your favorite Javascript framework:</p>
            <label><input type="radio" name="poll" value="A"> A</label><br/>
            <label><input type="radio" name="poll" value="B"> B</label><br/>
            <label><input type="radio" name="poll" value="C"> C</label><br/>
            <input id = "poll_submit_button" type="submit" value="Vote &rarr;"/>
    </form>
</div>
<div id='poll-results'><h3>Poll Results</h3>
<dl class='graph'>
{{ $optionMap := $.Scratch.Get "optionMap" }}
{{ range $key, $val := $optionMap }}
    {{ $.Scratch.Set "totalCounter" (add ($.Scratch.Get "totalCounter") $val) }}
{{- end }}
{{ range $key, $val := $optionMap }}
    {{ $val = div (math.Round (mul (div (float $val) ($.Scratch.Get "totalCounter")) 1000)) 10 }}
    <dt class='bar-title' style="list-style-type: none">{{ $key }}</dt>
    <dd class='bar-container' style="list-style-type: none">
    <div id= {{ print "bar" $key }} style= {{ print "width:" $val "%" }}>&nbsp;</div>
    <strong>{{ print $val "%" }}</strong>
    </dd>
{{- end }}
</dl>
<br><br><br><br>
<p>Total number of votes: {{ $.Scratch.Get "totalCounter" }}</p>
</div>
<button id = "poll_view_button" class = "btn" onclick="viewPollResults()">View results</button>
<div id="poll-submitted" class="dialog">
<h3>Thank you</h3>
  <p>Thank you for participating in the poll!</p>
  <p><a href="" class="btn">OK</a></p>
</div>

<div id="poll-error" class="dialog">
    <h3>Sorry</h3>
    <p>Unfortunately, there was an error and your poll participation could not be included.</p>
    <p><a href="" class="btn">OK</a></p>
</div>
