.right {
    float: right;
    width: 300px;
    padding: 0px;
}
.highlighttable td,th{padding:0;border:0;}td.code{width:95%;}

.post-comments {
  margin-top: 20px;
}


.post-comment {
  padding: 20px;
  margin-top: 20px;
  border:2px solid #e7e7e7;
  background-color:#fcfcfc;
  display: block;
}

.post-comment a {
        color: black;
        text-decoration: underline;

}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.post-comment-info {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  outline-color: #F76C5E;
  width: 100%;
  background-color:#ffffff;
}
/*
.btn {
	padding: 5px 10px;
	font-weight: 700;
	color: #fff;
	white-space: pre-line;
	background: #2a2a2a;
}

.btn:hover {
  border: 2px solid #F76C5E !important;
  background-color: #d1d1d1;
  color: #F76C5E;
  text-decoration: none;
}
*/
.button {
   padding: 10px 10px 10px 10px;
   font-weight: 700;
   color: #fff;
   background: #4693e6;
   text-align: center;
   font-size: 16px;
   text-decoration: none;
   margin: 5px;
   cursor: pointer;
}

.button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.button:hover {
  border: 2px solid #4693e6 !important;
  background-color: #f2f2f2;
  color: #4693e6;
  text-decoration: none;
}

.dialog {
  display: none !important;
  position: fixed;
  background-color: rgba(238, 238, 238, 1);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.dialog:target {
  display: block;
}

#copyButton {
  width: 150px;
  height: 50px;
}
    
#copyButton svg {
  width: 25px;
  height: 25px;
}

.svg-icon {
  display: inline-flex;
  align-self: center;
  height: 20px;
  width: 20px;
}

.comment-icon {
  display: inline-flex;
  align-self: center;
  height: 30px;
  width: 30px;
}

.comment-icon:active {
    /* this breaks stuff */
}

/* inverse colors on mouse-over */
.comment-icon:focus,
.comment-icon:hover {
  background-color: rgba(230, 73, 70, 0.55);
  border-radius: 100%;
  opacity: 50%;
}

.textComment {
    float: left;
}
.expand {
    cursor: pointer;
    float: right;
    margin: 1px;
    padding: 0px;
}
.collapse {
    cursor: pointer;
    float: right;
    margin: 1px;
    padding: 0px;
}

.disabled {
   cursor: not-allowed !important;
}

