.graph {
  /*width: 250px;
  position: relative;
  right: 30px;*/
  height: 20px:
  overflow: hidden;
}


.row {
    display: table;
    align: left;
    width: 100%;
    padding: 10px;
    table-layout: fixed;
}

/* Create two equal columns that sits next to each other */
.column {
    display: table-cell;
}
.bar-title {
  font-weight: bold;
}
.bar-container {
  margin: 0px 0px 15px;
  background-color: #cc4440;
  text-align: left;
  height: 20px;
}

fieldset {
    border: 0;
}

